{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% javascript %}
  (function () {
    const formBlocks = document.getElementsByClassName('wedding__form-block');
    const computeTotal = () => {
      var totalPrice = 0;
      for (const fb of formBlocks) {
        const unitPrice = Number(fb.querySelector('[data-unit-price]').dataset.unitPrice);
        const quantity = Number(fb.querySelector('input[name="quantity"]').valueAsNumber);

        totalPrice = totalPrice + unitPrice * quantity;
      }

      if (totalPrice !== 0) {
        document.getElementById('wedding__estimiate').style.display = 'inline';
        document.getElementById('wedding__estimate-price').innerHTML = totalPrice;
      } else {
        document.getElementById('wedding__estimiate').style.display = 'none';
      }
    };

    for (const fb of formBlocks) {
      fb.querySelector('quantity-input').addEventListener('change', computeTotal);
    }
  })();
{% endjavascript %}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.heading }}
      </h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}
    {%- liquid
      assign contact_form_class = 'isolate'
      if settings.animations_reveal_on_scroll
        assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
      endif
    -%}
    {%- form 'contact', id: 'WeddingInqiryForm', class: contact_form_class -%}
      {%- if form.posted_successfully? -%}
        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
          {% render 'icon-success' %}
          {{ 'templates.contact.form.post_success' | t }}
        </h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
            {% render 'icon-error' %}
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#WeddingInqiryForm-email" class="link">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <h2>Basic information</h2>
      <div class="contact__fields">
        <div class="field">
          <input
            class="field__input"
            autocomplete="name"
            type="text"
            id="WeddingInqiryForm-name"
            aria-required="true"
            name="contact[{{ 'templates.contact.form.name' | t }}]"
            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
            placeholder="{{ 'templates.contact.form.name' | t }}"
          >
          <label class="field__label" for="WeddingInqiryForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>
        <div class="field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="WeddingInqiryForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="WeddingInqiryForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}"
          >
          <label class="field__label" for="WeddingInqiryForm-email">
            {{- 'templates.contact.form.email' | t }}
            <span aria-hidden="true">*</span></label
          >
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="WeddingInqiryForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">
                {%- render 'icon-error' -%}
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </span>
            </small>
          {%- endif -%}
        </div>
      </div>
      <div class="field">
        <input
          type="tel"
          id="WeddingInqiryForm-phone"
          class="field__input"
          autocomplete="tel"
          name="contact[{{ 'templates.contact.form.phone' | t }}]"
          pattern="[0-9\-]*"
          value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          placeholder="{{ 'templates.contact.form.phone' | t }}"
        >
        <label class="field__label" for="WeddingInqiryForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
      </div>
      <div class="field">
        <input
          type="date"
          id="WeddingInquiryForm-date"
          class="field__input"
          name="contact[Event Date]"
          placeholder="Event Date"
        >
      </div>
      <div>
        <h2>How many flowers are you looking for?</h2>

        <p>This gives us a sense of what you are looking for, and you an idea of what it will all cost</p>

        {%- for block in section.blocks -%}
          <div class="wedding__form-block">
            <div class="wedding__form-block-description">
              <h3>{{ block.settings.heading | escape }}</h3>
              <p>{{ block.settings.description | escape }}</p>
            </div>
            <div class="wedding__form-block-selector">
              <p class="price" data-unit-price="{{ block.settings['price-per'] }}">
                £{{ block.settings['price-per'] }} each
              </p>
              <label class="quantity__label form__label" for="Wedding-{{ block.id }}">
                {{ 'products.product.quantity.label' | t }}
              </label>
              <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">
                    {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                  </span>
                  {% render 'icon-minus' %}
                </button>
                <input
                  class="quantity__input"
                  type="number"
                  name="quantity"
                  id="Wedding-{{ block.id }}"
                  min="0"
                  step="1"
                  value="0"
                >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">
                    {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                  </span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="wedding__form-end">
        <button type="submit" class="button">Send enquiry</button>
        <p id="wedding__estimiate" class="price" style="display: none">
          Estimated price: £<span id="wedding__estimate-price"></span>
        </p>
      </div>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "Wedding Inquiry Form",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ],
  "blocks": [
    {
      "type": "floral_element",
      "name": "Floral element",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "info": "blarg"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "info": "blarg"
        },
        {
          "type": "number",
          "id": "price-per",
          "label": "Price per element",
          "info": "blarg"
        }
      ]
    }
  ]
}
{% endschema %}
